nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			h3 
				a(href='#') Company Name
		ul.nav.navbar-nav
			li
				a(href='introduction') START HERE
			li
				a(href='about')
					| ABOUT
			li
				a(href='tools')
					| FREE TOOLS
			li
				a(href='blog')
					| BLOG
			li
				a(href='services') SERVICES
	
