nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			h3 
				a(href='#') Company Name
		ul.nav.navbar-nav
			li
				a(href='#' data-toggle='tab')
					| START HERE
			li
				a(href='#' data-toggle='tab')
					| ABOUT
			li
				a(href='#' data-toggle='tab')
					| PACKAGES 
			li
				a(href='#' data-toggle='tab')
					| FREE STUFF 
	
