body {
 /* padding: 50px;*/
  font-family: monospace;
  /*background-color: #f9a45d;*/
}

a:hover {
	text-decoration: none;
}

nav a {
	color: white;
}

nav li {
	color: white;
}

.navbar {
	margin-bottom: 0;

}

.navbar-default {
	background-color: #5db2f9;
	border: none;
}

.navbar-nav {
	float: right;
}

.navbar-default .navbar-nav li > a {
	color: white;
}

.navbar li {
	font-size: 18px;
	margin-top: 1%;
	
}

.jumbotron {
	/*background-image: url('/images/books.jpg');*/
	background-color: #5db2f9;
	background-size: cover;
    color: white;
	text-align: center;
	/*height: 50%;*/
	margin-bottom: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	/*border-bottom: 125px #5db2f9 solid;*/
}

form {
	/*text-align: center;*/
}
form .btn {
	margin: 5px;
}

.slogan {
	font-size: 56px;
	font-family: monospace;
}

.tri-column {
	text-align: center;
}

.three-way h2 {
	text-align: center;
	font-size: 36px;
}
.three-way {
	margin: 5%;
}
.footer {
	background-color: dimgray;
	color: white;
	margin-top: 3%;
}

.column {
	display: inline-block;
	max-width: 20%;
	padding: 20px 40px;
}

.column h5 {
	font-size: 16px;
}

.footer ul {
	padding-left: 0px;
}

.footer li {
	list-style-type: none;
	padding: 3px 0px;
}

.column li > a {
	color: white;
}
#56b3ff //softer light electric blue
#6fd6ff // Light Electric blue
 #00A2FF //Electric blue
#ff3814 //shade darker than tomato
#ff7961	//shade lighter than tomato

#ffbf47 //goldenrod or dark khaki
#47e3ff





